<%- include("partials/header.ejs") %>

<h1><%= post.title %></h1>
<p> Written By <%= post.author %> </p>
<p>Posted: <%= post.date %> </p>
<% if (post.editedDateTime) { %>
  <p>Edited: <%= post.editedDateTime %></p>
<% } %>

<p><%= post.content %></p>

<form action="/view-posts/<%= blogId %>/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete Post</button>
    <a href="/view-posts/<%= blogId %>/edit" class="edit-btn">Edit Post</a>
</form>