<%# Dynamically posts the blog that has been selected from view blogs link %>

<%- include("partials/header.ejs") %> <!-- Include header and navbar -->

<h1>All Blog Posts</h1>

<ul>
    <% posts.forEach(function(post, index) { %> 
        <li>
            <h2>
                <a href="/view-posts/<%= index %>"><%= post.title %></a>
            </h2>
            <p> By <%= post.author %> on <%=  post.date %></p>
            <p><%= post.content %></p>
        </li>
  <% })%>
</ul>

<%- include("partials/footer.ejs") %> <!-- Include footer -->