<%# Dynamically posts the blog that has been selected from view blogs link %>

<%- include("partials/header.ejs") %> <!-- Include header and navbar -->

<div class="container">
  <div class="container-grid">
  <h1>All Blog Posts</h1>
  </div>

  <div class="container view-posts">

  <div class="row mb-2 view-posts">
    <% posts.forEach(function(post, index) { %>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.category %></strong>
            <h3 class="mb-0"><%= post.title %></h3>
            <div class="mb-1 text-body-secondary"><%= post.date %></div>
            <p class="card-text mb-auto"><%= post.content.substring(0, 100) %>...</p>
            <a href="/view-posts/<%= index %>" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  
  </div>

</div>

<%- include("partials/footer.ejs") %> <!-- Include footer -->